@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.statusAlert {
  flex: 1;

  & > * {
    width: 100%;
    box-sizing: border-box;
  }
}

.content {
  height: 100%;
  padding: var(--spacing-small);
}

.children {
  font-size: 18px;
}

.subtitle {
  color: var(--color-light-steel-100);
  font-size: 11px;
  text-align: center;
  padding: var(--spacing-tiny) 0;
}