@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.amount {
  align-items: center;
  display: flex;
  margin: var(--spacing-small) 0;

  & small {
    font-size: 18px;
    font-weight: 900;
    margin-right: var(--spacing-tiny);
  }

  & .title {
    color: var(--color-light-steel-100);
    margin-top: 0;
    margin-bottom: 0;
  }
}

.empty {
  border: 1px solid var(--color-light-steel-50);
  margin: calc(var(--spacing-small) - 5px) 0;
  width: 100px;
}

.small {
  font-size: 12px;
  font-weight: bold;
}

.medium {
  font-size: 14px;
  font-weight: bold;
}

.large {
  color: var(--color-light-steel-100);
  font-size: 24px;
  font-weight: bold;
}

.huge {
  color: var(--color-light-steel-100);
  font-size: 28px;
  font-weight: bold;
}
